---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body class="p-8 flex flex-col gap-8 w-full h-full min-w-screen min-h-screen bg-[#fefae0]">
    <h1 class="text-6xl font-black text-[#023047]">
      Track My Funds
    </h1>
    <button class="px-8 py-4 w-fit bg-[#023047] transition-all duration-150 text-white font-bold rounded-lg">
      Regular
    </button>
    <button class="px-8 py-4 w-fit bg-[#fb8500] transition-all duration-150 text-white font-bold rounded-lg">
      Accent
    </button>
    <button class="px-8 py-4 w-fit bg-[#ff4500] transition-all duration-150 text-white font-bold rounded-lg">
      Danger
    </button>
	</body>
</html>
