---
import { Icon } from "astro-icon";
import SiteLayout from "../layouts/SiteLayout.astro";
---
<SiteLayout title="Track My Funds">
  <div class="absolute w-full h-full min-w-screen min-h-screen z-10 top-0 left-0">
    {<!-- for noise grainy gradient -->}
  </div>

  <div class="z-50 flex flex-col gap-16 p-8">
    <section class="flex flex-col items-center w-full h-fit gap-8">
      <h1 class="text-primary text-7xl font-bold font-clash max-w-3xl text-center">
        Empower your Money Management
      </h1> 
      <h3 class="text-xl text-center tracking-wide max-w-4xl">
        Track My Funds is a free, user-friendly personal finance app that helps you easily manage your money and achieve your financial goals.
      </h3>
      <a href="/auth/google" class="px-8 py-4 bg-accent text-white rounded-lg font-bold">Get Started (with Google)</a>
      <Icon name="ion:arrow-down-outline" class="w-8 h-8 animate-bounce" />
    </section>

    <section class="flex flex-col max-w-4xl w-full h-fit gap-8 mx-auto text-center">
      <div class="flex flex-col gap-4">
        <h2 class="text-accent text-3xl font-clash font-semibold">Manage money with ease</h2>
        <h1 class="text-primary text-5xl font-clash font-bold">Take the guess work OUT of your finances</h1>
      </div>
      <h3 class="text-xl tracking-wide">
        Track My Funds makes managing your money simple and stress-free. Whether you're a seasoned finance expert or just starting out, you'll find everything you need to take control of your finances and reach your financial goals.
      </h3>
      
      <div class="grid grid-cols-1 lg:grid-cols-3 gap-8">
        <div class="flex flex-col md:flex-row gap-4">
          <Icon name="fa-solid:money-bill-wave" class="w-32 h-fit p-4 bg-accent text-white rounded-xl"/>
          <div class="flex flex-col text-start grow">
            <h4 class="font-clash font-bold text-xl tracking-wide text-primary">
              Tracking your income
            </h4>
            <p class="tracking-wide">
              Effortlessly manage your finances and stay informed about your funds with our intuitive and easy-to-use tracking tool
            </p>
          </div>
        </div>
        <div class="flex flex-col md:flex-row gap-4">
          <Icon name="ph:piggy-bank-bold" class="w-32 h-fit p-4 bg-accent text-white rounded-xl"/>
          <div class="flex flex-col text-start">
            <h4 class="font-clash font-bold text-xl tracking-wide text-primary">
              Manage your expenses
            </h4>
            <p class="tracking-wide">
              Get a clear picture of your spending and take charge of your financial well-being with our comprehensive expense management tool
            </p>
          </div>
        </div>
        <div class="flex flex-col md:flex-row gap-4">
          <Icon name="ph:currency-circle-dollar-fill" class="w-36 h-fit p-4 bg-accent text-white rounded-xl"/>
          <div class="flex flex-col text-start">
            <h4 class="font-clash font-bold text-xl tracking-wide text-primary">
              Break the cycle
            </h4>
            <p class="tracking-wide">
              Break free from financial stress and start building a secure future with our innovative tool designed to help you break the cycle of debt and overspending.
            </p>
          </div>
        </div>
      </div>
    </section>
  </div>
</SiteLayout>

